*{
    font-family: monospace;
}
body{
    margin: 0;
    font-size: 15px;
    background-color: #f0f8ff;
}
header{
    background-color: #2196f3;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    flex-wrap: wrap;
}
h1{
    color: #2196f3;
    font-size: 50px;
}
header h1{
    color: white;
    text-align: center;
}
.button{
    margin: 10px;
    height: 40px;
    width: 140px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.button:hover{
    color: white;
    background-color: darkblue;
}
main{
    padding: 20px;
}
section{
    height: 100vh;
    border: 5px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 5px;

}
form div{
    margin: 5px 0;
}
.submit{
    height: 40px;
    width: 140px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    background-color: #2196f3;
}
.submit:hover{
    background-color: #0479d9;
}
input{
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 25px;
}
.fixedbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
}
footer{
    height: 124px;
    background-color: black;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
a{
    text-decoration: none;
}